.imgcontenedor{
    margin-top: 1em;
    margin-bottom: 2.5em;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imagenprincipal{
    border: 0.5em solid rgb(241, 171, 224);
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hendrixhel{
    width: 22em;
    height: 18em;
    display: block;
    margin: auto;
    border-radius: 25px;
}

.imgcontent{
    border-radius: 30px;
    width: 22em;
    height: 18em;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

.imgcontent:hover{
    opacity: 1;
}

.imgcontent h3 {
    font-size: 30px;
    color: rgb(241, 171, 224);
    margin-bottom: 15px;
}