body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fc4109;
    color: #333;
    margin: 10px;
  }

.img {
    width: 235px;
    height: 250px;
    border: 3px double rgb(138, 96, 96);
    padding: 2px;
    order: -1;
}

.ramas {
    border: 1px solid rgb(138, 96, 96);
}

#ramasflex {
    background-color: aqua;
    padding: 0.7em;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ramas:hover {
    background-color: rgb(209, 205, 195);
}

.title {
    font-size: large;
    border: 4px double rgb(138, 96, 96);
    width: 40vw;
    background-color: rgb(226, 220, 220);
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
    padding: 0.7em;
    display: flex;
    justify-content: center;
    text-align: center;
}

.title:hover {
    background-color: rgb(209, 205, 195);
}

.title2 {
    width: 20vw;
    background-color: rgb(226, 220, 220);
    padding: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.itempa {
    text-align: center;
}

.albumsestudio {
    padding: 0.7em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
        
}

#title1 {
    font-size: 1.5em;
    border: 4px double rgb(138, 96, 96);
    border-radius: 13%;
    width: 55vw;
    background-color: rgb(248, 45, 197);
    margin: auto;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    text-align: center;
}

#title1:hover {
     background-color: #fc4109;
}


header {
    background-color: brown;
}

p {
    width: 50vw;
}

#imgprincipal {
    width: auto;
    height: auto;
    padding: 1em;
    background-color: blue;
    display: flex;
    justify-content: center;
    
}

#sucesos {
    background-color: rgb(226, 220, 220);
    width: 50vw;
}

#sucesos:hover {
    background-color: rgb(209, 205, 195);
}




